{% if form %}
    <form method="post" action="{{ form.action }}"{% if form.class %} class="{{ form.class }}"{% endif %}>
        {% for input in form.inputs %}
            <label class="formInputLabel{% if input.label.class %} {{ input.label.class }}{% endif %}">
                {% if input.label.text %}
                    <span>{{ input.label.text }}</span>
                {% endif %}
                {% if input.tag == 'input' %}
                    <input type="{{ input.type }}" name="{{ input.name }}"
                            {% if input.id %} id="{{ input.id }}"{% endif %}
                            class="formInput{% if input.class %} {{ input.class }}{% endif %}"
                            {% if input.placeholder %} placeholder="{{ input.placeholder }}"{% endif %}
                            {% if input.required %} required="required"{% endif %}
                            {% if input.min %} min="{{ input.min }}"{% endif %}
                            {% if input.max %} min="{{ input.max }}"{% endif %}
                            {% if input.title %} title="{{ input.title }}"{% endif %}
                            {% if input.pattern %} pattern="{{ input.pattern }}"{% endif %}
                            {% if input.value %} value="{{ input.value }}"{% endif %}
                            {% if input.maxLength %} maxlength="{{ input.maxLength }}"{% endif %}
                            {% if input.onInvalid %} oninvalid="this.setCustomValidity('{{ input.onInvalid }}')"{% endif %}
                            {% if input.onInput %} oninput="this.setCustomValidity('{{ input.onInput }}')"{% endif %}
                    >
                {% elseif input.tag == 'textarea' %}
                    <textarea name="{{ input.name }}"
                            {% if input.id %} id="{{ input.id }}"{% endif %}
                            {% if input.cols %} cols="{{ input.cols }}"{% endif %}
                            {% if input.rows %} rows="{{ input.rows }}"{% endif %}
                            {% if input.placeholder %} placeholder="{{ input.placeholder }}"{% endif %}
                            {% if input.required %} required="required"{% endif %}
                            {% if input.maxLength %} maxlength="{{ input.maxLength }}"{% endif %}
                    ></textarea>
                {% elseif input.tag == 'select' %}
                        {% include input.path with {'select': input.data } %}
                {% endif %}
            </label>
        {% endfor %}
        <button type="submit" class="{{ form.button.class }}"
            {% if form.button.disabled and form.button.disabled == "true" %}
                disabled
            {% endif %}
        >
            {% if form.button.text %}{{ form.button.text }}{% endif %}
        </button>
    </form>
{% endif %}