{% if menu %}
	<ul id='{% if menuLocation %}{{ menuLocation }}NavList'{% endif %} class='navList'>
		{% for item in items %}
			<li class='{% if menuLocation %}{{ menuLocation }}NavListItem {% else %}navListItem {% endif %}{{ navItemAnimation }}'>
				<a class='textAlignCenter colorSilver flexCenterCenter fontBold'
                   href='{{ item.link }}'>{{ item.title }}</a>
			</li>
		{% endfor %}
	</ul>
{% endif %}
